.container {
  width: 100%;
}
  .sortable {
    cursor: pointer;
  }
.btn{
  border-radius: 0px;
}
  .btn-toolbar {
    margin: 20px 10px;
}
.btn-default:hover {
    color: #fff;
    background-color: #2A3132;
    border-color: #2A3132;
}

.breadcrumb {
    padding: 10px 20px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 20px;
    color: #ff1a1a;
}

a {
    color: #ff0000;
    text-decoration: none;
}


.modal-header {
    text-align: center;
    min-height: 16.43px;
    padding: 4px;
    color: white;
    background: black;
    border-bottom: 1px solid #ff0000;
}

.btn-primary {
    color: #fff;
    background-color: #2A3132;
    border-color: #2A3132;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2A3132;
    border-color: #2A3132;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #738492;
    border-color: #2A3132;
}

.modal-body {
    position: relative;
    padding: 40px;
    background: whitesmoke;
}
.form-control {
    border-radius: 0px;
  }

  .modal-footer {
      padding: 8px;
      text-align: right;
      border-top: 1px solid #2A3132;
      background: whitesmoke;
  }

  .alert-danger {
    position: absolute;
    color: #ffffff;
    top: 75px;
    right: 20px;
    background-color: #000000c7;
    border-radius: 0px;
    border-color: #2A3132;
}


.alert-success{
  position: absolute;
  color: #ffffff;
  top: 75px;
  right: 20px;
  background-color: #000000c7;
  border-radius: 0px;
  border-color: #2A3132;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    margin: 0px 15px;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    r: alpha(opacity=100);
    opacity: 1;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: unset;
}

.file{
  text-align: center;
}
.icon{
  color: red;
}
th{
  color: #fff;
background-color: #2A3132;
border-color: #2A3132;
}
.search{
  border: thin #ddd solid;
}
.table-hover>tbody>tr:hover {
    background-color: white;
}

.breadcrumb {
    padding: 5px 30px;
    margin-bottom: 20px;
    list-style: none;
    background-color: whitesmoke;
    border-radius: 0px;
    font-size: 17px;
    /* color: white; */
}
.breadcrumb a {
/* color: white; */
}
body{
  background-color: whitesmoke;
}
